venv/
# Entornos virtuales de Python
venv/
.venv/


# Archivos de Python
*.pyc
__pycache__/

# Archivos de desarrollo y temporales
.git/
.gitignore
*.log
*.swp
*.bak
tmp/
temp/
db.sqlite3
node_modules/
# Archivos de Node.js
# node_modules/
